
@charset"UTF-8";


@font-face {
    font-family: 'cake';
    src: url(/testep/fontes/Cakecafe.otf);
}

*{

    padding: 0;
    margin: 0;

}




:root{


    --cor01:#6CC5C6;
    --cor02:#DEF0EE;
    --cor03: #9ED6D7;
    --cor04:#025959;
    --cor05:#D1645D;
    --font-padrao:Arial, Verdana, Helvetica, sans-serif;
    --font-destque:'bebas neue', cursive;
    --fontespe:'cake';

}

body{

    background-color:var(--cor02);
    font-family: var(--font-destque);

}

header{

    background-image: linear-gradient(to left, var(--cor02), var(--cor03));
    text-align: center;
    min-height: 150px;
    padding: 40px;
    

}


header h1{

    font-family: var(--fontespe);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0px black;

}

header p{
    font-family: var(--font-destque);
    text-align: justify;
    margin: auto;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;

}

nav{

    padding: 20px;
    background-color: var(--cor04);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.219);
    

}

nav a{
    
    color: white;
    text-decoration: none;
    padding: 20px;

}

nav a:hover{

    background: var(--cor01);
    color: white;
    transition: all 0.6s;
    transition-duration: 1.3s;

}



main{
    
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    margin-top: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}


main h1{

    text-align: center;
    

}


main h2{

    text-align: center;

}

main p{
    text-indent: 30px;
    text-align: justify;
    padding: 20px;

}

main img{

    width: 100%;

}

main img.pequeno{

    margin:auto;
    display: block;
    max-width: 350px;

}


aside{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);
    background-color: var(--cor03);


}

aside h3{
    
    text-align: center;

}

aside p{

    padding: 10px;

}


aside ul{

    list-style-position: inside;

}


footer{

    background-color: var(--cor04);
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    color: white;

}


footer a{

    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

footer a:hover{

    background-color: var(--cor03);
    border-radius: 5px;


}